<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="container about">
<h1>${_("Contact")}</h1>
<p>${_("For questions about content made possible by the College of Innovation and Design, contact Randall Stacy,  randallstacy@boisestate.edu.")} <br>
	${_("For questions about content made possible by the Division of Extended Studies, contact Mark Wheeler, mwheeler@boisestate.edu.")} <br>
	${_("For questions about the Open edX software made possible by the Office of Information Technology, contact the Learning Technology Solutions team, lts@boisestate.edu")}</p>
</section>
